.header_div
{
    background-color:white;
    color: black;
}
body
{
    background-color: pink;
    font-family: 'Playfair Display', serif;
}
.header_div p
{
color: gray;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}
.main_div button
{
margin-top: 30px;
width: 130px;
font-weight: bolder;
letter-spacing: 3px;
}
.footer_div
{
    position: fixed;
    color: indigo;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    background-color: khaki;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px darkgoldenrod;
}